asgiref==3.5.2
autopep8==1.7.0
distlib==0.3.6
Django==4.1.2
filelock==3.8.0
Pillow==9.3.0
platformdirs==2.5.2
pycodestyle==2.9.1
pygame==2.1.2
sqlparse==0.4.3
toml==0.10.2
tzdata==2022.4
virtualenv==20.16.5
pygame==2.1.2
psycopg2-binary
uuid
tk
requests==2.28.1
